
<nav  class="bg-blue-500">
    <a href="#" class="bg-blue-700 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page" routerLink="/lm-seite">LernModus</a>
</nav>


<main>
    
    <h1 class="text-center font-bold">LernModus (SingleMode)</h1>

    <div class="inline-flex justify-between space-x-4">
        <button type="button" class="bg-blue-500 hover:bg-blue-300 text-white font-bold py-2 px-4 rounded" (click)="onPreviosClick()">
            Previous
        </button>
    
        <button class="bg-blue-500 hover:bg-blue-300 text-white font-bold py-2 px-4 rounded" (click)="onNextClick()">
            Next
        </button>
    
        <button class="bg-blue-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded" (click)="onDetailClick()">
            Detail
        </button>
    </div>



    <h3 class="font-bold">Frage {{getScFrageElement(scfragen,indx).qid}}</h3>
    <h2>{{getScFrageElement(scfragen,indx).qtxt}}</h2>


    <label class="inline-flex items-center">
        <input type="checkbox" [(ngModel)]="isChecked" (change)="isFi()" class="form-checkbox h-5 w-5 text-gray-600">
        <span class="ml-2 text-green-700 font-bold">Show the correct answer</span>
    </label>


    <div *ngIf="isChecked">

        <div *ngIf="!isfi">
            <div *ngFor="let qanswer of getScFrageElement(scfragen,indx).qanswers">              
                <div *ngIf="qanswer.correct">
                    <p class="ml-2 font-medium text-black-900" font-bold>{{qanswer.txt}}</p>
                </div>
            </div> 
        </div>

        <div *ngIf="isfi">
            <div *ngFor="let qanswer of getScFrageElement(scfragen,indx).qanswers">              
                    <p class="ml-2 font-medium text-black-900" font-bold>{{qanswer.txt}}</p>
            </div> 
        </div>

    </div>


    <div *ngIf="detailFlag">
        <h1 class="text-center font-bold text-yellow-700">Detail answer</h1>
        <ul *ngFor="let qanswer of getScFrageElement(scfragen,indx).qanswers">
            
            <div *ngIf="!isfi">
                <div *ngIf="qanswer.correct"> 
                    <p class="ml-2 font-bold text-green-700">{{qanswer.txt}}</p>
                </div>
    
                <div *ngIf="!qanswer.correct"> 
                    <p class="ml-2 font-bold text-yellow-700">{{qanswer.txt}}</p>
                </div>
            </div>

            <div *ngIf="isfi">
                <p class="ml-2 font-bold text-green-700">{{qanswer.txt}}</p>
            </div>

        </ul>
    </div>

</main>