
<nav  class="bg-blue-500">
    <a href="#" class="bg-blue-800 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page" routerLink="/home">Home</a>
    <a href="#" class="text-gray-300 hover:bg-blue-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"routerLink="/lm-singlemode">SingleModus</a>
    <a href="#" class="text-gray-300 hover:bg-blue-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"routerLink="/lm-listmode">ListModus</a>
</nav>



<main>
    
    <h1 class="text-center font-bold">LernModus</h1>
    <h2>Lern Modus gibt Ihnen die Möglichkeit mit der Fragen sowohl Single Modus als auch List Modus bearbeiten. Viel Spaß beim lernen! </h2>
    