<div id="galeri">
    
    </div>
<nav  class="bg-blue-700">
    <a href="#" class="bg-blue-900 text-white rounded-md px-3 py-5 text-sm font-medium" aria-current="page" routerLink="/home">Home</a>
    <a href="#" class="text-gray-300 hover:bg-blue-900 hover:text-white rounded-md px-3 py-3 text-sm font-medium"routerLink="/lm-seite">LernModus</a>
    <a href="#" class="text-gray-300 hover:bg-blue-400 hover:text-white rounded-md px-3 py-3 text-sm font-medium"routerLink="/cm-seite">CheckModus</a>
    <a href="#" class="text-gray-300 hover:bg-blue-200 hover:text-white rounded-md px-3 py-3 text-sm font-medium"routerLink="/em-seite">ExamModus</a>
</nav>
<!-- <body style="background-image: url('../../assets/LinuxPrüfungApp.jpg');"> -->
<!-- <h1 class="text-center font-bold ">LPIC-Prufüngs Trainer</h1> -->

<!-- </body> -->

<div class="container bg-light py-5 " id="home">
    <h1 class="display-5 fw-bold">Willkommen bei der LLCE-App</h1>
    
    <h4>Unsere Einsatz ist Ihnen zur LPIC gut vorbereiten</h4>
    <ol>
        <li> Hier können Sie für die LPIC Prüfung mit verschiedene Arten sich vorbereiten.</li>
        <li>Im <b>Lernmodus</b> haben Sie die Möglichkeit, die Informationen gründlich zu wiederholen. </li>
        <li> Im <b>Checkmodus</b> haben Sie die Möglichkeit, Ihre Angaben zu kontrollieren.</li>
        <li>Wenn Sie sich im <b>Exammodus</b> befinden, stellen wir Ihnen eine reale Prüfungsumgebung zur Verfügung.</li>
    </ol>
    <h1 style="font-family:cursive;text-align:center"> viel Erfolg!</h1>
            <div class="name col-md-4 my-3">
            
        </div>
        <div class=" logo">

          
            <span class="im1"><img src="../../assets/LinuxPrüfungApp.jpg" routerLink="linux-l-m">
                
               
    </span>
    </div>
    
        
        
    </div>
             
    
        



